.header {
  border-radius: 15px;
  width: 100%;
  height: 74px;
  background: #1f1f1f;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}

.logoIcon {
  fill: white;
  stroke: white;
}

.nav {
}

.navList {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.navLink {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 113%;
  letter-spacing: -0.02em;
  color: #f9f9f9;
}

.authNav {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.userWrapper {
  display: flex;
  flex-direction: row;
  gap: 11px;
  justify-content: center;
  align-items: center;
}

.userIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  border: 1px solid rgba(249, 249, 249, 0.2);
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 113%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #f9f9f9;
}

.userName {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 113%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #f9f9f9;
}

.logoutUser {
  display: block;
  border: 1px solid rgba(249, 249, 249, 0.2);
  border-radius: 30px;
  padding: 12px 28px;
  height: 42px;
  width: auto;
  align-items: center;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 113%;
  letter-spacing: 0.02em;
  color: #f9f9f9;
}

.logoutUser:hover {
  background: #f9f9f9;
  color: #1f1f1f;
}
