.section {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.authPart {
  border-radius: 30px;
  width: calc((100% - 16px) / 2);
  background: #1f1f1f;
  padding: 40px 64px;
}

.logoDesktop {
  fill: white;
}

.logoMobile {
  display: none;
}

.title {
  margin-top: 107px;
  margin-bottom: 40px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 64px;
  line-height: 94%;
  letter-spacing: 0.02em;
  color: #f9f9f9;
}

.span {
  color: rgba(227, 227, 227, 0.5);
}

.imagePart {
  display: flex;
  justify-content: center;
  border-radius: 30px;
  width: calc((100% - 16px) / 2);
  background: #1f1f1f;
}

.imageWrapper {
  display: flex;
  justify-content: center;
  align-items: end;
}

.image {
}

@media screen and (max-width: 1439px) {
  .section {
    flex-direction: column;
  }

  .authPart {
    width: 100%;
  }

  .imagePart {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .section {
    gap: 10px;
  }

  .authPart {
    width: 100%;
    padding: 20px;
  }

  .imagePart {
    display: flex;
    width: 100%;
  }

  .logoDesktop {
    display: none;
  }

  .logoMobile {
    display: block;
    fill: white;
  }

  .title {
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 32px;
    line-height: 100%;
  }

  .imageWrapper {
    margin-top: 20px;
  }
}
