.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.titleWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: #f9f9f9;
}

.viewSwitchers {
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.viewBtn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  stroke: #686868;
  transition: fill 0.3s ease;
}

.viewBtn.active .icon {
  stroke: #f9f9f9;
}
