.guideBlock {
  background: #262626;
  border-radius: 12px;
  width: 100%;
  padding: 20px;
  margin-bottom: 20px;
}

.guideTitle {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #f9f9f9;
  margin-bottom: 40px;
}

.guideList {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
  counter-reset: step-counter;
}

.guideItem {
  counter-increment: step-counter;
  display: flex;
  align-items: flex-start;
  gap: 12px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: #686868;
}

.guideItem .hilight {
  color: #f9f9f9;
}

.guideItem::before {
  content: counter(step-counter);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 44px;
  height: 44px;
  background-color: #f9f9f9;
  border-radius: 50%;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #1f1f1f;
}

.guideContent {
}

.linkWrapper {
  margin-top: 6px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.guideLink {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #686868;
}

.guideIcon {
  stroke-width: 2px;
  stroke: #f9f9f9;
}

.quoteBlock {
  background: #262626;
  border-radius: 12px;
  width: 100%;
  padding: 15px 20px;
  display: flex;
  flex-direction: row;
  gap: 14px;
  justify-content: center;
  align-items: center;
}

.quoteImage {
  display: block;
  width: 40px;
  height: 40px;
}

.quoteText {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: #686868;
}

.quoteText .hilight {
  color: #f9f9f9;
}
